<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.floatingpanda.scoreboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light">
        <activity android:name=".views.activities.BgCategoryAddActivity" />
        <activity android:name=".views.activities.BgCategoryEditActivity" />
        <activity android:name=".views.activities.MemberAddActivity" />
        <activity android:name=".views.activities.MemberEditActivity" />
        <activity android:name=".views.activities.MemberActivity" />
        <activity android:name=".views.activities.BoardGameAddActivity" />
        <activity android:name=".views.activities.BoardGameEditActivity"/>
        <activity android:name=".views.activities.BoardGameActivity" />
        <activity android:name=".views.activities.GroupActivity"/>
        <activity android:name=".views.activities.GroupAddActivity"/>
        <activity android:name=".views.activities.GroupEditActivity"/>
        <activity android:name=".views.activities.AddGroupMembersActivity" />
        <activity android:name=".views.activities.AddGameRecordActivity" />
        <activity android:name=".views.activities.ChoosePlayersActivity" />
        <activity android:name=".views.activities.ConfirmPlayersActivity" />
        <activity android:name=".views.activities.ConfirmGameRecordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>